.form-container {
   position: absolute;
   top: 15%;
   left: 35%;
   height: 90vh;
   width: 30vw;
   padding: 2rem;
   text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.buttons {
    text-align: start;
}
.cancelar-btn {
    margin-left: 1rem;
}