.intro-container {
    height: 50vh;
    width: 60%;
    padding: 1.5rem;
    position: absolute;
    left: 20%;
    top: 10%;
    text-align: center;
}

.intro-container h1 {
    font-size: 2rem;
    
}
