.footer {
    background-color: rgb(15, 13, 22);
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    height: 15rem;
    filter: drop-shadow(0 2px 6px #ff9900);
}

.footer > h1 > small {
    color: #ff9900;
    font-size: 18px;
}

.footer > h3 > strong > a {
    color: #ff9900;
}

.footer__media {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto 0 auto;
}
.footer__media > span {
    padding: 1rem;
}
.footer__media > span > a:hover {
    color: #ff9900;
    transition: all 200ms ease-in;
}
