.side-nav-container {
    width: 15%;
    height: 70%;
    border-radius: 20px;
    margin-left: 1.5rem;
    margin-top: 2rem;
    display: flex;
    background-color: #272e52;
}

.side-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.side-nav-item {
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    width: 100%;
}
.side-nav-item:hover {
    background-color: #e46e1a;
}
.side-nav-item:active {
    background-color: #e46e1a;
}

.side-nav-item span{
    padding-right: 1.5rem;
    padding-top: 2px;
}
.side-nav-item a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.add-book-btn {
    border-radius: 30px !important;
    padding: 5px;
    border: 1px solid #e46e1a;
    color: #e46e1a;
    background-color: transparent;
}
.add-book-btn:hover {
    background-color: #e46e1a;
    color: white;
}

.add-cat-btn {
    border-radius: 30px !important;
    padding: 5px;
    border: 1px solid #e46e1a;
    color: #e46e1a;
    background-color: transparent;
}
.add-cat-btn:hover {
    background-color: #e46e1a;
    color: white;
}