<div class="side-nav-container">
    <ul class="side-nav-list">
        <li class="side-nav-item">
            <a routerLink="/">
                <span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </span>
                Home
            </a>
        </li>
        <li class="side-nav-item">
            <a routerLink="/categorias">
                <span>
                    <mat-icon aria-hidden="false" aria-label="menu book icon">menu_book</mat-icon>
                </span>
                Categorias
            </a>
        </li>
        <li class="side-nav-item">
            <a routerLink="/">
                <span>
                    <mat-icon aria-hidden="false" aria-label=" book icon">book</mat-icon>
                </span>
                Livros
            </a>
        </li>
        <li class="side-nav-item">
            <a routerLink="/">
                <span>
                    <mat-icon aria-hidden="false" aria-label="config icon">settings</mat-icon>
                </span>
                Configurações
            </a>
        </li>
        <!--Botoes
            <button mat-raised-button class="add-book-btn">Adicionar Livro</button>
            <button mat-raised-button class="add-cat-btn">Adicionar Categoria</button>
        -->

    </ul>
</div>